h1{
    font-family: Arial;
    font-size: 30px;
    font-weight: 100;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    border: 5px inset rebeccapurple;
    box-shadow: 50px 10px;
    border-radius: 50px;

}
